body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./images/background.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar {
  display: flex;
}

.logo {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar li {
  list-style-type: none;
}

.navbar a {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
}

.navbar a::before {
  content: attr(data-label);
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity 0.3s;
}

.navbar a:hover::before {
  opacity: 1;
}

.wrapper-login {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper-login h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper-login p {
  color: red;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.wrapper-login .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 35px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box ::placeholder {
  color: #fff;
}

.input-box box-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.wrapper-login .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  overflow: hidden;
  transition: color 0.4s;
  position: relative;
}

.btn {
  margin-bottom: 20px;
}

.btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.1); /* The fill color */
  transition: width 0.4s ease;
}

.btn:active::after {
  width: 100%;
}

.btn:active {
  color: #fff;
}

.wrapper-general {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper-general h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper-general p {
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.wrapper-general .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;

  margin: 15px auto auto;
  display: block;

  overflow: hidden;
  transition: color 0.4s;
  position: relative;
}

.wrapper-general a {
  text-decoration: none;
  color: inherit;
}

.wrapper-general ul li {
  list-style-type: none;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: red;
  margin-bottom: 5px;
}

.wrapper-general .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

select {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 35px;
  font-size: 16px;
  color: #fff;
  padding: 10px 35px 10px 20px;
  height: 50px;
  display: inline-block;
  margin-top: 25px;
}

option {
  background: #333;
}

select:last-of-type {
  margin-right: 0;
}

.rdt .form-control {
  width: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 35px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.rdtPicker {
  width: 100%;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: #333;
}

.rdtPicker th,
.rdtPicker td {
  border: none;
  color: #333;
}

.wrapper-general h3 {
  text-align: center;
}

.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: lightblue;
  color: black;
}

.rdtPicker td:hover {
  background-color: lightblue;
  color: black;
}

.wrapper-dashboard {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 1250px;
  margin-top: 20px;
  overflow: hidden;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper-dashboard a {
  text-decoration: none;
  color: inherit;
}

.wrapper-dashboard ul li {
  list-style-type: none;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.dashboard-header {
  display: flex;
  justify-content: flex-start;
  padding: 0px 0px 10px 0px;
  border-bottom: 1px solid #e1e1e1;
}

.dashboard-header button {
  margin-left: 5px;
  height: 25px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 14px;
  color: #333;
  font-weight: 600;

  overflow: hidden;
  transition: color 0.4s;

  display: block;
  transition: color 0.4s;
  position: relative;
}

.dashboard-main {
  padding: 20px;
}

.tab {
  display: inline-flex;
  justify-content: start;
  gap: 5px;
  border-bottom: 1px solid #ccc;
}

.tab button {
  background: #eee;
  border: none;
  height: 25px;
  padding: 5px 10px;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px solid #ccc;
  transition: background-color 0.3s, border-color 0.3s;
}

.tab button.active {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tab button:not(.active):hover {
  background: #ddd;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.2);
  width: 350px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px;
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card .button-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 5px 0;
}

.card button {
  margin-left: 2px;
  margin-bottom: 2px;
  height: 25px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 14px;
  color: #333;
  font-weight: 600;

  overflow: hidden;
  transition: color 0.4s;

  display: block;
  transition: color 0.4s;
  position: relative;
}

.appointment-card {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 10px;
  padding: 2px;
}

.test-result-card {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 10px;
  padding: 2px;
}

.card h4 {
  text-align: center;
}
